<div class="ignoreit">
    <a href="#" onclick="window.mcheckbox.CheckedBySel( 'input[type=checkbox]', true  ); return false">CHECK</a><br />
    <a href="#" onclick="window.mcheckbox.CheckedBySel( 'input[type=checkbox]', false ); return false">UNCHECK</a><br />
</div>