<div class="form-item">
    <input type="checkbox" id="demo-1" /> <label for="demo-1">Default</label>
</div>
<div class="form-item">
    <input type="checkbox" checked id="demo-2" /> <label for="demo-2">Checked</label>
</div>
<div class="form-item">
    <input type="checkbox" disabled id="demo-3" /> <label for="demo-3">Default Disabled</label>
</div>
<div class="form-item">
    <input type="checkbox" checked disabled id="demo-4" /> <label for="demo-4">Checked Disabled</label>
</div>